* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url(./assets/bgimage.jpeg); */
  background-image: linear-gradient(to right, #393E46, #00ADB5);
  
}

.backgroundAtas {
  background-color: #222831;
}

.backgroundButtonAtas {
  background-color: #00ADB5;
}

.warnaFont {
  color: #00ADB5 !important;
}

main {
  margin-left: 15px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 120px;
  padding: 10px;
  font-family: 'Merriweather Sans', sans-serif;

}

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  font-family: 'Plus Jakarta Sans', sans-serif !important;

  /* font-family: 'Abril Fatface', cursive; */
}
#quote-container {
  position: sticky;
  margin-top: 15px;
  margin-left: 80px;
  width: 100%;
  font-family: 'Merriweather Sans', sans-serif;
}

#quote {
  color: white;  
}

#btnstyle {
  width: 40px;
  margin-right: 30px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px;
  background-color: #00ADB5
}

#btnstyle:hover {
  background-color: lightgreen;
  transition: ease 0.2s;
}

#navbarNavDarkDropdown {
  margin-top: 10px;
}

#navbarDarkDropdownMenuLink { 
  border-radius: 15px;
}

#title {
  font-size: 50px;
  font-weight: 900;
  text-decoration: underline;
  transition: ease 0.2s;
  margin-left: 10px;
  color: white !important;
  padding: 10px;
}

#title:hover {
  border: 1px solid white;
  border-radius: 30px;
  background-color: #00ADB5;
  transition: ease 0.4s;
  padding: 10px;
}

#opening {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  color: #EEEEEE;
  text-align: center;
  text-shadow: 1px 1px #EEEEEE;
}

.card-title {
  font-weight: bold;
}

.card-img-top {
  width: 200px;
  height: 350px;
  transition: ease 0.2s;
}

.card-img-top:hover {
  border-radius: 30px;
  transition: ease 0.4s;
}

.card {
  width: 270px;
  height: 350px;
  transition: ease 0.2s;
}
.card:hover {
  border-radius: 30px;
  transition: ease 0.4s;
}

.col {
  padding: 10px;
}

.add-to-cart {
  padding: 5px 7px;
  float: right;
  border: 0.5px solid black;
  background-color: lightcyan;
  border-radius: 3px;
  text-decoration: none;
  transition: linear 0.2s;
}

.add-to-cart:hover {
  transition: ease 0.4s;
  border: 1px solid black;
  background-color: #00ADB5;
}
.add-to-cart small {
  margin: 5px;
}

.text-muted {
  font-size: 12px;
}

footer {
  position: absolute;
  bottom: 100;
  width: 100%;
  height: 60px;
  background-color: #222831;
  text-align: center;
}

#word-footer {
  padding-top: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #00ADB5;
}

#word-footer a {
  text-decoration: none;
  transition: ease 0.1s;
}

#word-footer a:hover {
  font-size: 15px;
  transition: ease 0.2s;
}
